* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    display: grid;
    place-items: center;
}

.routes {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}